//GENERAL
*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

//LINKS
a{

	color: #024c27;
	text-decoration: none;

}
a:active{

	color: black;
	background-color: #411141;

}

//TESTS
h1{
	color: green;
}
